<!-- 原則上ejs的檔案就是放html -->
<%- include('../parts/html-head') %> 
<%- include('../parts/navbar') %> 
<div class="container">
    <h2>Address book</h2> 
</div>




<%- include('../parts/scripts') %> 
<%- include('../parts/html-foot') %>